

.image{
    border-radius: 10px;
   border: 2px solid red;
    height: 400px;
}



div{
    display: flex;
    justify-content: center
  }
a:hover{
    background-color: blue;
}


.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}


body {
    background-color: rgb(255, 255, 165);
}

.image{
    border-radius: 20px;
   border: 5px solid red;
    height: 300px;
    position: relative;
    margin: 30px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}


h1::first-letter {
    color:blue;
}


body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}



.container {
    display: flex;
    gap: 20px;
}
body {
    background-color: rgb(255, 255, 165);
}

.image{
    border-radius: 10px;
   border: 2px solid red;
    height: 400px;
}




form{
    display: flex;
    flex-direction: column;
}

.h{
    display: flex;
    justify-content: center;
}

